<h3>Username: {{ userid }}</h3>
<!-- Videos -->
<div class="row">
    <div class="col-xs-12">
        <video #remoteVideo class="remoteVideo"></video>
    </div>
    <div class="col-xs-12">
        <video #localVideo class="localVideo"></video>
    </div>
</div>
<!-- Buttons  -->
<div class="row">
    <div class="col-xs-12">
        <button *ngIf="!playing" (click)="call()" class="btn btn-primary">Call</button>
        <button *ngIf="playing" (click)="stop()" class="btn btn-primary">Stop</button>
    </div>
</div>

<div *ngFor="let message1 of messages1">
                                        {{message1.text}}
</div>
                                      <br>  
                                      <hr>
                                      <input type="text" placeholder="Enter message" [(ngModel)]="message1" name="message1" (keyup.enter)="sendPrivatMessages()">
                                      <br>

